<%= render 'shared/small_navbar' %>

<div id="content">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1> My profile </h1>

      <%= simple_form_for(@user, html: { multipart: true }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.input :sex %>
        <%= f.input :description %>

        <p>
          <%= f.label :picture %>
          <%= f.file_field :picture %>
        </p>

        <%= f.button :submit, "Save my profile" %>
      <% end %>
    </div>
  </div>
</div>
