

<%= render 'shared/small_navbar' %>

<div id="content">
  <h1>Here are your profile details</h1>

  <p><b>First name</b> <%= @user.first_name %></p>
  <p><b>Last name</b> <%= @user.last_name %> </p>
  <p><b>Address</b> <%= @user.address %> </p>
  <p><b>Zipcode</b> <%= @user.zipcode %> </p>
  <p><b>City</b> <%= @user.city %> </p>
  <p><b>Email address</b> <%= @user.email %> </p>
  <p><b>Phone number</b> <%= @user.phone_number %> </p>
  <p><b>Sex</b> <%= @user.sex %> </p>
  <p><b>A few words about yourself </b><%= @user.description %> </p>
</div>
