<div class="col-xs-12 text-center">
  <div class="text-center">
    <%= simple_form_for [@place, @booking] do |f| %>
      <div class="text-center">
        <%= f.error_notification %>
        <%= f.input :guests %>
        <%= f.input :checkin %>
        <%= f.input :checkout %>

        <%= f.button :submit %>

      </div>
    <% end %>
  </div>
</div>
