<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="assets/images/dolores.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="../assets/images/dolores.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="../assets/images/dolores.ogv" type="video/ogv" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="../assets/images/dolores.jpg" alt="">
        </div>
    </div>
</div>




<div>

</div>

<div id="featured">
  <h3 id="h2_featured">Find a place like home</h3>
  <h4 id="h4_featured">wherever you want to go</h4>
  <div class="container">
    <div class="row">
      <% @places[0..2].each do |place| %>
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
        <%= link_to place_path(place) do %>
          <div class="text-center">
            <%= image_tag place.picture.url(:medium), class: "image2" %>

            <p class="text-center"><%= place.name%></p>
          </div>

        </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>

<div id="featured">
  <h3 id="h2_featured">Travel the world</h3>
  <h4 id="h4_featured">you'll be home every night</h4>
  <div class="container">
    <div class="row">
      <% @places[3..4].each do |place| %>
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
        <%= link_to place_path(place) do %>
          <div class="card text-center">
            <%= image_tag place.picture.url(:medium), class: "image2" %>

            <p class="text-center"><%= place.name%></p>
          </div>

        </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>

