 <div id="banner">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <h1 id="home_title">BIENVENUE SUR JCF FLAT </h1>
    <h2 id="h2_home"><u>LE SITE DE LA LOC D'APPART</u></h2>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-xs-12">
          <%= form_tag(places_path, method: "get") do %>
            <%= label_tag('enter a city plz') %>
            <%= text_field_tag(:city) %>
            <%= label_tag('enter a number of rooms plz') %>
            <%= text_field_tag(:rooms) %>
            <%= label_tag('enter a number of beds plz') %>
            <%= text_field_tag(:beds) %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>
    </div>
 </div>
  <div id="featured">
    <div class="container">
      <div class="row">
        <div class="col-xs-12, col-sm-3">
            <%= image_tag "http://placehold.it/300x400" %>
        </div>
        <div class="col-xs-12, col-sm-6">
          <div class="col-xs-12, col-sm-3">
            <%= image_tag "http://placehold.it/140x200"%>
          </div>
          <div class="col-xs-12, col-sm-3">
            <%= image_tag "http://placehold.it/140x200"%>
          </div>
        </div>
      </div>
    </div>
</div>




