<div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter2 text-center">
        <h1>Rich BnB</h1>
        <h4> Be above everyone </h4>
      </div>
        <div class="filter text-center">
          <div class="container">
            <div class="row">
              <div class="form-inline">
                <%= form_tag(places_path, method: "get", class: "") do %>
                   <%= text_field_tag(:city, nil, placeholder: 'Look for a city', class: 'form-control') %>
                 <%= date_field(:booking, :checkin, placeholder: 'Checkin', class: 'form-control', id: 'date-btn') %>
                 <%= date_field(:booking, :checkout, placeholder: 'Checkout', class: 'form-control', id: 'date-btn') %>
                 <%= number_field_tag :booking, nil, placeholder: '2 guests', min: 1, max: 15, class: 'form-control', id: 'guest-btn' %>
                <!--  <%= number_field_tag :beds,nil, placeholder: 'How many beds',min: 1, max: 10 %> -->
                 <%= submit_tag("Search", class: "btn-danger btn-large btn form-control", id: 'submit-btn') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <video autoplay loop class="fillWidth">
            <source src="<%=video_path("dolores/dolores.mp4")%>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="<%=video_path("dolores/dolores.webm")%>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="<%=video_path("dolores.jpg")%>" alt="">
          <h1>salut</h1>
        </div>
    </div>
</div>


<div id="featured">
  <h3 id="h2_featured">Find a place like home</h3>
  <h4 id="h4_featured">wherever you want to go</h4>
  <div class="container">
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
        <%= link_to place_path(place) do %>
          <div class="text-center">
            <%= image_tag place.picture.url(:medium), class: "image2" %>

            <p class="text-center"><%= place.name%></p>
          </div>

        </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>

<div id="featured">
  <h3 id="h2_featured">Travel the world</h3>
  <h4 id="h4_featured">you'll be home every night</h4>
  <div class="container">
    <div class="row">
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
          <div class="card text-center">
            <p class="position-card">
              <%= link_to "Barcelone", places_path(city: "Barcelona"), class: "country-link" %>
            </p>
            <%=image_tag "barcelona.jpg", class: "image2" %>
          </div>
        </div>
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
          <div class="card text-center">
            <p class="position-card">
              <%= link_to "Paris", places_path(city: "Paris"), class: "country-link" %>
            </p>
            <%=image_tag "paris.jpg", class: "image2" %>
          </div>
        </div>
        <div class="col-xs-12, col-sm-4 pics-padding-bottom">
          <div class="card text-center">
            <p class="position-card">
             <%= link_to "Rio", places_path(city: "Rio"), class: "country-link" %>
            </p>
            <%=image_tag "rio.jpeg", class: "image2" %>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <div class="card text-center">
        <p class="btn btn-danger">discover more !</p>
          </div>
      </div>
    </div>
  </div>
</div>
