
<div class="container">
  <div class="row text-center med-padded-bottom">
    <h2>My trips </h2>
    <% if @trips.size == 0 %>
      <p>You have no trip registered</p>
      <br>
      <br>
      <br>
    <p><%= link_to "Search for new places", root_path, class: "btn btn-success" %></p>
    <% end %>
    <% @trips.each do |trip| %>
      <div class="col-sm-4">
        <div class="card">
        <h3> <%= trip.place.name %> </h3>
        <%= image_tag trip.place.picture, class: "pic-index image" %>
        <h4> Rate: <%= trip.place.rate %></h4>
        <p> City: <%= trip.place.city %></p>
        <p> <%= trip.guests %> guests</p>
        <p> Checkin: <%= trip.checkin %></p>
        <p> Checkout: <%= trip.checkout %></p>


        <% if Time.now.to_i < (Time.parse(trip.checkin.to_s).to_i) %>
          <% if trip.status %>
            <h4>Status: <%= trip.status %></h4>
          <% else %>
            <h4>Status: Pending</h4>
          <% end %>




        <% end %>
        <%= link_to "Cancel my reservation", profile_trip_path(trip),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "show", profile_trip_path(trip), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>












