
<div class="container">
  <div class="row text-center med-padded-bottom">
    <h1>My trips <%= link_to "Search for new places", root_path, class: "btn btn-success" %></h1>
    <% @trips.each do |trip| %>
      <div class="col-sm-4">
        <div class="card">
        <h3> <%= trip.place.name %> </h3>
        <%= image_tag trip.place.picture, class: "pic-index image" %>
        <h4> Rate: <%= trip.place.rate %></h4>
        <p> City: <%= trip.place.city %></p>
        <p> Number of guests: <%= trip.guests %></p>
        <p> Checkin: <%= trip.checkin %></p>
        <p> Checkout: <%= trip.checkout %></p>
        <% if trip.status %>
          <p> Status: <%= trip.status %></p>
        <% else %>
          <p> Status: pending</p>
        <% end %>

        <%= link_to "Cancel my reservation", profile_trip_path(trip),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "show", profile_trip_path(trip), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>












