<div class="container">
    <div class="row text-center">
      <h1>Add a new place</h1>
      <div class="col-xs-12 text-center">
        <div class="text-center">
          <%= simple_form_for @place, url: url, method: method do |f| %>
            <div class="text-center">
              <%= f.error_notification %>
              <%= f.input :type %>
              <%= f.input :name %>
              <%= f.input :address %>
              <%= f.input :zipcode %>
              <%= f.input :city %>
              <%= f.input :capacity %>
              <%= f.input :rooms %>
              <%= f.input :beds %>
              <%= f.input :description %>
              <%= f.input :rate %>
              <%= f.input :available %>
              <%= f.label :picture %>
              <%= f.file_field :picture%>

              <%= f.button :submit %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
