<!-- <div class="container">
    <div class="row text-center">
      <h1>Update your place</h1>
      <div class="col-offset-xs-4 col-xs-8 text-center form-control">
        <div>
          <%= simple_form_for(@place, url: profile_place_path, html: { multipart: true }) do |f| %>
            <div class="text-center">
              <%= f.error_notification %>
              <%= f.input :type %>
              <%= f.input :name %>
              <%= f.input :address %>
              <%= f.input :zipcode %>
              <%= f.input :city %>
              <%= f.input :capacity %>
              <%= f.input :rooms %>
              <%= f.input :beds %>
              <%= f.input :description %>
              <%= f.input :rate %>
              <%= f.input :available %>
              <%= f.label :picture %>
              <%= f.file_field :picture%>

              <%= f.button :submit %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="text-center places-padded">
  <p>
    <h1>Add a new place</h1>
  </p>


   <%= render 'form', url: profile_place_path, method: :patch %>
</div>



