

<div class="container">
  <div class="row text-center med-padded-bottom">
    <h2>My rentings</h2>
    <% if @rentings.size == 0 %>
      <p>You have no renting registered</p>
      <br>
      <br>
      <br>
      <p><%= link_to "Manage my places", profile_places_path, class: "btn btn-success" %></p>
    <% end %>
    <% @rentings.each do |renting| %>
      <div class="col-sm-4">
        <div class="card">
          <!-- <div class="guest_info"> -->
            <h3>You got a request from:</h3>
            <h5><%= renting.user.first_name %> <%= renting.user.last_name %></h5>
            <div><%= image_tag renting.user.picture.url, class: "img-circle img_guest align-center" %></div>
            <br>

              <div>
                <h3>This request concerns</h3>
                <h5><%= renting.place.name %></h5>
                <p>
                <b>Adress</b> : <%= renting.place.address %>
                <%= renting.place.zipcode %> <%= renting.place.city %></p>
                <p>
                <b>Checkin</b> : <%= renting.checkin %>
                </p>
                <p>
                <b>Checkout</b> : <%= renting.checkout %>
                </p>
              <p>For your place</p>
              <%= image_tag renting.place.picture(:thumb), class: "pic-index image img_places img-circle align-center" %>
              </div>
              <% if renting.status %>
                <h4>Status: <%= renting.status %></h4>
              <% else %>
                <div class="">
                <%= button_to "Approve", { action: :update, id: renting.id }, params: { status: "Approved" }, method: :patch, class: "btn btn-success form-control btn-approve" %>
                or
                <%= button_to "Refuse", { action: :update, id: renting.id }, params: { status: "Refused" }, method: :patch, class: "btn btn-danger form-control btn-approve" %>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



