
<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


<div class="container">
  <div class="row text-center">
    <% @places.each do |place| %>
      <div class="col-sm-4">
        <div class="card">
          <p><b><%= place.name%></b></p>
          <p><%= place.city%></p>
          <p> <%= place.rooms%> rooms</p>
          <div class="relative">
          <%= image_tag place.picture.url(:medium), class: "image2" %>
          <p> <%= image_tag place.user.picture.url(:medium), class: "img-circle img-position" %>
            <p class='position-price3'><%= place.rate %> €</p>
          </div>
          <p><%= link_to "See this place", place_path(place), class: "btn btn-primary" %></p>

        </div>
      </div>
    <% end %>
  </div>
</div>










