<h1 class="title-style"> Choose a flat</h1>

<% @places.each do |place| %>
  <div class="Places available in #{place.city}">
    <p><b><%= place.name%></b></p>
    <p><%= place.city%></p>
    <p> <%= place.rooms%> rooms</p>
     <div>
      <%= image_tag place.picture.url(:medium) %>
    </div>
      <%= link_to "See this place", place_path(place) %>
    </p>

  </div>
<% end %>


<%= link_to "create a new appart", new_place_path %>



