
<div class="image_div text-center">
  <!-- <h1><%= @place.name %></h1> -->
    </div>
</div>


  <div class="container med-padded-top med-padded-bottom">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h3><%= @place.name%></h3>
          <br>
          <p><em>Rate per night</em>: <%= @place.rate%> euros</p>
          <p><em>Address</em>: <%= @place.address%> - <%= @place.zipcode%> <%= @place.city%></p>
          <p><%= @place.capacity%> <em>persons</em></p>
          <p><%= @place.rooms%> <em>rooms</em></p>
          <p><%= @place.beds%> <em>beds</em></p>
          <p><em>Description<em>: <%= @place.description%></p>
          <!-- <h5><b>Available<b> :<%= @place.available%></h5> -->
          <br>
          <p class="text-center"><%= link_to "Back to the list", profile_places_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card text-align">
          <%= simple_form_for [@place, @booking] do |f| %>
            <div class="text-center booking-form">
              <%= f.error_notification %>
              <%= f.input :guests %>
              <%= f.input :checkin, as: :date, html5: true %>
              <%= f.input :checkout, as: :date, html5: true %>
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    var coord = <%= raw @place_coordinates %>;
      alert('<%= j @alert_message %>');
    });
  <% end %>
<% end %>

<style media="screen">
  .image_div { background-image: url(<%= @place.picture %>);
    position: relative;
    padding: 300px 0;
    background-size: cover;
    background-position: center center;
   }
</style>
