  <!DOCTYPE html>
<html>
<head>

  <title>RichBnb - Be above everyone</title>
  re-implement-map
  <%= stylesheet_link_tag 'application', media: 'all'%>

  <%= csrf_meta_tags %>


  <link href='http://fonts.googleapis.com/css?family=<Open></Open>
  <San></San>s' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

<!-- Add these line for detecting device width -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

</head>
<body>

<%= render 'shared/navbar' %>


<%= yield %>

<%= render 'shared/footer' %>



<%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBJpS15Ww-JheoyzoeSR5BUiRCs6-2SMq8" %>

<%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

<%= javascript_include_tag 'application' %>

<%= yield(:after_js) %>


</body>
</html>
